.devsite-section-nav-mobile {
  display: block;
  max-height: 100% !important;
}

.devsite-landing-row-multiline .devsite-landing-row-group {
  flex-wrap: wrap;
}

/*
.devsite-banner {
  margin-top: 0;
}
*/

.devsite-banner-dogfood,.devsite-banner-dogfood :link,.devsite-banner-dogfood :visited {
    background: #eceff1;
    color: #546e7a;
}

.devsite-banner-dogfood .devsite-banner-inner {
    padding-left: 60px
}

.devsite-banner-dogfood .devsite-banner-inner::before {
    color: #78909c;
    content: 'pets';
    float: left;
    font: normal normal normal 24px/1 'Material Icons';
    font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    word-wrap: normal;
    margin-left: -36px
}

@media screen and (max-width: 720px) {
    .devsite-banner-dogfood .devsite-banner-inner {
        padding-left: 52px
    }
}

.easfs-footer--social-btn,
.easfs-footer__social-btn {
  width: 20px;
  height: 20px;

  padding: 0;
  margin: 0;

  border: none;
}

.easfs-footer--top-section h5,
.easfs-footer__top-section h5 {
  display: inline-flex;
  text-transform: uppercase;
}

.easfs-footer--social-list,
.easfs-footer__social-list {
  list-style: none;
  display: inline-flex;
  padding-left: 10px;
}

.easfs-footer--social-list li,
.easfs-footer__social-list li {
  float: left;

  margin-bottom: 0;
  margin-right: 16px;
}

